<%= @doc.as_json(include: :anexos) %>
<%= form_for @doc, html: { multipart: true } do |f| %>
  <% if @doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@doc.errors.count, "error") %> prohibited this doc from being saved:</h2>

      <ul>
      <% @doc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>

  <%= f.fields_for :anexos do |a| %>
    <%= a.file_field :file %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
